<%= form_tag("#{@form_url}", method: "#{@form_method}") do %>
  <%= hidden_field_tag 'user_href', CGI.escape(@user['href']) %>
  <%= label_tag("User") %>
  <%= label_tag("#{@user['first_name']} #{@user['last_name']}") %>
  <br />
  <%= label_tag(:v, "Value") %>
  <%= text_field_tag(:v, @metric_value) %>
  <%= submit_tag(@action) %>
<% end %>
