<h1>Metrics</h1>

<table>
  <th>Name</th>
  <th>Type</th>
  <% @metrics.each do |metric| %>
    <tr>
      <td><%= link_to metric.name, list_metric_values_url(CGI.escape metric.href) %></a></td>
      <td><%= metric.type %></td>
    </tr>
  <% end %>
</table>
