<h1><%= @metric.name %></h1>

<table>
  <th>User Name</th>
  <th>Value</th>
  <th>Action</th>
  <% @metric_values.each do |value| %>
    <tr>
      <td><%= value.name %></td>
      <td><%= value.value %></td>

      <% if value.value == 0 %>
        <td><%= link_to 'Create', new_metric_value_url(href: CGI.escape(@metric.href), user_href: CGI.escape(value.user_href)) %></td>
      <% else %>
        <td><%= link_to 'Edit', edit_metric_value_url(href: CGI.escape(@metric.href), value_href: CGI.escape(value.href), user_href: CGI.escape(value.user_href)) %></td>
      <% end %>

    </tr>
  <% end %>
</table>
